<h1>"Vivir Fitness - Lista de productos:"</h1>
  
  <div>
    {{#if products}}
      {{#each products}}
      <div>
        <h4>Categoría: {{this.category}} - Cód: {{this.code}}</h4>
        <h3>Id: {{this.id}} - {{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>Stock: {{this.stock}}</p>
        <p><b>Precio: $ {{this.price}}</b></p>
        <hr />
      </div>
      {{/each}}
    {{else}}
      <p>No hay productos para mostrar</p>
    {{/if}}
  </div>
